<div class="container">
    <form action="" class="form-group">
        <div class="inp">
            <label>Product Name</label>
            <input type="text" class="form-control"  name="productName" [(ngModel)]="productName"> 
        </div>
        <div class="inp">
            <label>Product Price</label>
            <input type="text" class="form-control" name="productPrice" [(ngModel)]="productPrice"> 
        </div>
        <div class="inp">
            <label>Product Description</label>
            <input type="text" class="form-control" name="productDescription" [(ngModel)]="productDescription"> 
        </div>
        <div class="inp">
            <label>Product Quantity</label>
            <input type="text" class="form-control"  name="productQty"[(ngModel)]="productQty"> 
        </div>
        <div class="inp">
            <label>Product Image</label>
            <input type="file" class="form-control" name="productImage" (change)="selectProdImage($event)" [(ngModel)]="productImage"> 
        </div>
        <div class="inp">
            <button class="btn btn-primary mt-3" (click)="addProduct()">Add Product</button>
        </div>
    </form>
</div>